<a href="https://colab.research.google.com/github/Ola-Crrypt/Ola-Crrypt/blob/main/Unfinishe%20KOL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

''' Coffee situation '''

Creating Series using dictionary

In [ ]:
"""
pd.Series(dictionary)
"""
import pandas as pd

d={'a':1,'b':2,"c":3,'d':4,'e':5}
m=pd.Series(d)
print(m)

In [ ]:
m[['a','c']]

a    1
c    3
dtype: int64

In [ ]:
c=pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
print(c)

In [ ]:
#pick b and 2
print(c['b'])

In [ ]:
import pandas as pd

c = pd.Series([1,2,8,9,5], index=['a','b','c','d','e'])
# print(c)

# Use iloc with the integer index
print(c.loc['a':'d'])

a    1
b    2
c    8
d    9
dtype: int64

In [ ]:
c[['b','a','c']]

b    2
a    1
c    8
dtype: int64

In [ ]:
c

a    1
b    2
c    8
d    9
e    5
dtype: int64

In [ ]:
c.iloc[3]

9

In [ ]:
c.loc['a']

1

In [ ]:
new=pd.Series(range(0,22,2))
print(new)

0      0
1      2
2      4
3      6
4      8
5     10
6     12
7     14
8     16
9     18
10    20
dtype: int64

CONVERT THIS INDEX TO LABEL

In [ ]:
new.iloc[:9]

0     0
1     2
2     4
3     6
4     8
5    10
6    12
7    14
8    16
dtype: int64

DICTIONARY WITH SERIES

In [ ]:
dic={'a':1,'b':2,'c':3}
pd.Series(dic)
dic.sum

a    1
b    2
c    3
dtype: int64

In [ ]:
c

a    1
b    2
c    8
d    9
e    5
dtype: int64

In [ ]:
c.sum()

25

In [ ]:
c.mean()
c.std()

3.5355339059327378

In [ ]:
a=pd.Series([3,7,5,2,1,9], index=['a','b','c','d','e','f'])

In [ ]:
a.sort_values()

e    1
d    2
a    3
c    5
b    7
f    9
dtype: int64

In [ ]:
a.sort_values(ascending=False)

f    9
b    7
c    5
a    3
d    2
e    1
dtype: int64

In [ ]:
a.sort_index()

a    3
b    7
c    5
d    2
e    1
f    9
dtype: int64

In [ ]:
a.sort_index(ascending=False)

f    9
e    1
d    2
c    5
b    7
a    3
dtype: int64

In [ ]:
import pandas as pd
import random as ran
import numpy as np

x = pd.Series(np.random.randint(0, 5, (10)))
x

The count is from the row

In [ ]:
x.value_counts()

In [ ]:
x>2

In [ ]:
x.index

RangeIndex(start=0, stop=10, step=1)

>>> KOL List

In [ ]:
kol=pd.DataFrame([
    ["Rilliizzy","@Rilliwizzy12","@Rilliwizzy12","16.4k"],
    ["Bateon","@InvestorBateon","@AlphadaoLeader","19.8k"],
    ["Alege Official","@Alegeofficial","@Alegeofficial","9.6k"],
    ["Web3warrior","@Web3warrior_7","@Web3warrior_7","13.7k"],
    ["Sol Promise","@sol_promise","@sol_promise",33800],
    ["Bellickruz","@Bellixckruz","@Bellickruz",23000],
    ["Claire","@Techy_clare","Not Available","Not Available"],
    ["Emminent","@xEminentx","@Emminent",25800],
    ["Yeminiz","@Yeminiz","@Yeminizz",54800],
    ["Debar","@Debar_FX","@Debar_fx",30300],
    ["Karo","@Karoblaq","@Karoblaq",21700],
     ["10x","@10xofweb3","@ten_x",11300],
    ["Legbo","@legbo_","@legbo_",53800],

     ],
            columns=["KOLs", "X Acc", "TG Acc","X Counts"])
kol

              KOLs            X Acc           TG Acc       X Counts
0        Rilliizzy    @Rilliwizzy12    @Rilliwizzy12          16.4k
1           Bateon  @InvestorBateon  @AlphadaoLeader          19.8k
2   Alege Official   @Alegeofficial   @Alegeofficial           9.6k
3      Web3warrior   @Web3warrior_7   @Web3warrior_7          13.7k
4      Sol Promise     @sol_promise     @sol_promise          33.8k
5       Bellickruz     @Bellixckruz      @Bellickruz            23k
6           Claire     @Techy_clare    Not Available  Not Available
7         Emminent       @xEminentx        @Emminent          25800
8          Yeminiz         @Yeminiz        @Yeminizz          54800
9            Debar        @Debar_FX        @Debar_fx          30300
10            Karo        @Karoblaq        @Karoblaq          21700
11             10x       @10xofweb3           @ten_x          11300
12           Legbo          @legbo_          @legbo_          53800

In [ ]:
import pandas as pd

# Define your DataFrame
kol = pd.DataFrame([
    ["Rilliizzy", "@Rilliwizzy12", "@Rilliwizzy12", "16.4k"],
    ["Bateon", "@InvestorBateon", "@AlphadaoLeader", "19.8k"],
    ["Alege Official", "@Alegeofficial", "@Alegeofficial", "9.6k"],
    ["Web3warrior", "@Web3warrior_7", "@Web3warrior_7", "13.7k"],
    ["Sol Promise", "@sol_promise", "@sol_promise", "33.8k"],
    ["Bellickruz", "@Bellixckruz", "@Bellickruz", "23k"],
    ["Claire", "@Techy_clare", "Not Available", "Not Available"],
    ["Emminent", "@xEminentx", "@Emminent", "25.8k"],
    ["Yeminiz", "@Yeminiz", "@Yeminizz", "54.8k"],
    ["Debar", "@Debar_FX", "@Debar_fx", "30.3k"],
    ["Karo", "@Karoblaq", "@Karoblaq", "21.7k"],
    ["10x", "@10xofweb3", "@ten_x", "11.3k"],
    ["Legbo", "@legbo_", "@legbo_", "53.8k"],
], columns=["KOLs", "X Acc", "TG Acc", "X Counts"])

# Convert 'X Counts' to numeric (remove 'k' and multiply by 1000)
kol["X Counts"] = kol["X Counts"].replace("Not Available", "0")  # Handle missing data
kol["X Counts"] = kol["X Counts"].str.replace("k", "", regex=True).astype(float) * 1000

# Filter rows where 'X Counts' > 20000
filtered_kol = kol[kol["X Counts"] > 20000]

# Display the filtered DataFrame
print(filtered_kol)

           KOLs         X Acc        TG Acc  X Counts
4   Sol Promise  @sol_promise  @sol_promise   33800.0
5    Bellickruz  @Bellixckruz   @Bellickruz   23000.0
7      Emminent    @xEminentx     @Emminent   25800.0
8       Yeminiz      @Yeminiz     @Yeminizz   54800.0
9         Debar     @Debar_FX     @Debar_fx   30300.0
10         Karo     @Karoblaq     @Karoblaq   21700.0
12        Legbo       @legbo_       @legbo_   53800.0

In [ ]:
kol.loc[kol["X Counts"] > 20000]

           KOLs         X Acc        TG Acc  X Counts
4   Sol Promise  @sol_promise  @sol_promise   33800.0
5    Bellickruz  @Bellixckruz   @Bellickruz   23000.0
7      Emminent    @xEminentx     @Emminent   25800.0
8       Yeminiz      @Yeminiz     @Yeminizz   54800.0
9         Debar     @Debar_FX     @Debar_fx   30300.0
10         Karo     @Karoblaq     @Karoblaq   21700.0
12        Legbo       @legbo_       @legbo_   53800.0

In [ ]:
print(kol)

              KOLs            X Acc           TG Acc       X Counts
0        Rilliizzy    @Rilliwizzy12    @Rilliwizzy12          16.4k
1           Bateon  @InvestorBateon  @AlphadaoLeader          19.8k
2   Alege Official   @Alegeofficial   @Alegeofficial           9.6k
3      Web3warrior   @Web3warrior_7   @Web3warrior_7          13.7k
4      Sol Promise     @sol_promise     @sol_promise          33.8k
5       Bellickruz     @Bellixckruz      @Bellickruz            23k
6           Claire     @Techy_clare    Not Available  Not Available
7         Emminent       @xEminentx        @Emminent          25.8k
8          Yeminiz         @Yeminiz        @Yeminizz          54.8k
9            Debar        @Debar_FX        @Debar_fx          30.3k
10            Karo        @Karoblaq        @Karoblaq          21.7k
11             10x       @10xofweb3           @ten_x          11.3k
12           Legbo          @legbo_          @legbo_          53.8k

In [ ]:
kol.index
kol.columns
kol.values
kol.shape
kol.KOLs
kol[["KOLs","X Acc"]]
kol[kol["X Counts"] > 20000]

TypeError: '>' not supported between instances of 'str' and 'int'